@use "../var.scss";

.header {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 2;
    height: 128px;
    // @include var.respond-to("mobile") {
    //     height: 300px;
    // }

    // @include var.respond-to("desktop") {
    //     height: 350px;
    // }
    // @include var.respond-to("ultrawide") {
    //     height: 400px;
    // }
}

.headerDivContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 128px;
}

.brandLogo {
    height: 20px;
}

.list {
    display: flex;
    list-style: none;
}

.listItem {
    padding: 1rem;
    color: white;
    background-blend-mode: multiply;
}
