@use "../var.scss";

.contentSection {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -100px;
    // transform: translate(-50%, 0);

    @include var.respond-to("mobile") {
    }
    @include var.respond-to("tablet") {
    }
    @include var.respond-to("desktop") {
        width: 730px;
    }
    @include var.respond-to("ultrawide") {
    }
}
