@use "../var.scss";

.statusContainer {
    height: 212px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.numbersContainer {
    display: flex;
    height: 70%;
    justify-content: space-around;
    align-items: center;
}

.individualNumberContainer {
    display: flex;
    flex-direction: column;
}

.number {
    font-family: var.$font-comi;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.text {
    font-family: var.$font-comi;
    color: var.$color-font-grey;
    font-size: 0.9rem;
}